body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	background-color: #f4f4f4;
	margin-left: 10%;
	margin-right: 10%;
}
nav
{
  text-align: center;
	background-color: orange;
	margin-bottom: #DFE2DB 3px solid;
}

footer
{
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: #FFFFFF
}
