<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v4.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='graph.css') }}">
  <script>
    function draw(data)
    {
      //Dimention of the visualization
      var margin = {top:10, bottom:30, left:40,right:30},
        width = 400 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

      //Container to hold the graph: Scalable Vector Graphics
      //Same size as our screen dimension above
      var svg = d3.select('#graphHolder')
        .append('svg')
      	   .attr('width',width + margin.left + margin.right)
      	   .attr('height',height + margin.top + margin.bottom)
      	.append('g')
      	   .attr('transform', 'translate('+margin.left+','+margin.top+')');
      	//.style("border", "1px solid black");

      		//Initialize the links
      var link = svg
        .selectAll('line')
        .data(data.links)
      	.enter()
      	.append('line')
      	.style('stroke','#aaa');

      		//Initialize nodes
      var node = svg.selectAll('circle')
      	.data(data.nodes)
      	.enter()
      	.append('circle')
        .attr('r', 20)
        .style('fill', '#69b3a2');

      var text = svg.append("g")
        .selectAll("text")
        .data(data.nodes)
        .enter().append("text")
        .attr("dx", 12)
        .attr("dy", ".35em")
        .text(function(d) { return d.id });

      		//Listing the force that will be applied on the network
      var simulation = d3.forceSimulation(data.nodes)
      	.force('link', d3.forceLink()
      	.id(function(d){return d.id;})
      	.links(data.links))
      	.force('charge', d3.forceManyBody().strength(-400))
      	.force('center', d3.forceCenter(width/2, height/2))
        .on('end', ticked);

      function ticked()
      {
        link
          .attr('x1', function(d){return d.source.x;})
      		.attr('y1', function(d){return d.source.y;})
      		.attr('x2', function(d){return d.target.x;})
      		.attr('y2', function(d){return d.target.y;});

      	node
          .attr('cx', function(d){return d.x + 6;})
      		.attr('cy', function(d){return d.y - 6;});
      }
    }
  </script>
  <nav>
    <h1>Inter-domain Routing Simulator</h1>
  <nav>
</head>

<body>
  <!-- Create a div where the graph will take place -->
  <div id="graphHolder" align='center'></div>
  <script>
    d3.json("{{url_for('static', filename='testFile.json')}}", draw);
  </script>
  <div class='searchComponents' align='center'>
      <label for='src'>Source</label>
      <select name='source' required>
          <option value=''></option>
      </select>

      <br><br>
      <label for='dest'>Desination</label>
      <select name='destination' required>
          <option value=''></option>
      </select>

      <br><br>
      <label for='crt'>Criteria</label>
      <select name='criteria' required>
          <option value=''></option>
      </select>
      <br><br>
      <button type="button">Search</button>

  </div>
</body>
<footer>
	<p>&copy; NoName Group 2019. All rights reserved
</footer>
</html>
